* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overscroll-behavior: contain;
}

:root{
    --dark-blue: rgb(1, 60, 128);
    --darker-blue: rgb(1, 28, 59);
}

/*initial screen*/
#topbar {
    background: var(--dark-blue);
    height: 60px;
}

h1 {
    color: white;
    position: absolute;
    top: 17px;
    left: 5px;
    font-size: 3rem;
}

.player {
    border: 2px solid var(--dark-blue);
    border-radius: 2px;
    margin-top: 15%;
    height: fit-content;
    width: 380px;
}

.nameInput {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 3rem;
    width: 300px;
    border-radius: 2px;
    border: 1px solid black;
}

.colorPicker {
    display: inline-block;
    aspect-ratio: 1/1;
    height: 50px;
    border-radius: 100px;
    border: 2px solid black;
    margin: 5px;
    position: relative;
    top: 10px;
}

input[type="color"] {
    -webkit-appearance: none;
    border-radius: 100px;
    aspect-ratio: 1/1;
    height: 50px;
    overflow: hidden;
    opacity: 0;
}

.computerInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.computerInput > button {
    display: inline-block;
    font-size: 2rem;
    background-color: none;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 2px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

#start > button {
    width: 200px;
    height: 60px;
    font-size: 3rem;
    margin: auto;
    background-color: var(--dark-blue);
    color: white;
    border: 2px solid var(--darker-blue);
    border-radius: 2px;
}

/*setup screen*/
.container {
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: scroll;
}

.harbor.top {
    display: block;
    position:absolute; 
    bottom:0;
    width: 100%;
    text-align: center;
}

.ship {
    margin: 10px;
}

.shipPart {
    border: 1px solid rgb(17, 17, 17);
    aspect-ratio: 1/1;
    height: calc(45vh / 10);
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    aspect-ratio: 1/1;
    height: 200px;
}

.gameboard.bottom {
    margin-top: 20px;
}

.cell {
    background-color: white;
    aspect-ratio: 1/1;
    width: calc(45vh / 10);
    border: 1px solid rgb(192, 192, 192);
}

.rotate {
    position: absolute;
    bottom: 5px;
    right: 20px;
    aspect-ratio: 1;
    height: 30px;
    border-radius: 100px;
    border: 1px solid var(--darker-blue);
    background-color: var(--dark-blue);
}