* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overflow: hidden;
}

:root{
    --dark-blue: rgb(1, 60, 128);
    --darker-blue:rgb(0, 44, 95);
}

button {
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 2px;
    cursor:pointer;
}

button:hover {
    background-color: var(--darker-blue)
}

/*initial screen*/
#topbar {
    background: var(--dark-blue);
    height: 60px;
}

h1 {
    color: white;
    position: absolute;
    top: 17px;
    left: 5px;
    font-size: 3rem;
}

#bottombar {
    position: absolute;
    bottom: -100px;
    background: var(--dark-blue);
    height: 120px;
    width: 100%;
    padding-top: 2px;
    color: white;
    text-align: center;
}

.player {
    border: 2px solid var(--dark-blue);
    border-radius: 2px;
    margin-top: 15%;
    height: fit-content;
    width: 380px;
}

.nameInput {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 3rem;
    width: 300px;
    border-radius: 2px;
    border: 1px solid black;
}

.colorPicker {
    display: inline-block;
    aspect-ratio: 1/1;
    height: 50px;
    border-radius: 100px;
    border: 2px solid black;
    margin: 5px;
    position: relative;
    top: 10px;
}

input[type="color"] {
    -webkit-appearance: none;
    border-radius: 100px;
    aspect-ratio: 1/1;
    height: 50px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#start > button {
    width: 200px;
    height: 60px;
    font-size: 3rem;
    margin: auto;
}

.swap {
    font-size: 1.5rem;
    background-color: var(--dark-blue);
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    text-align: center;
}

.swap.computer {
    width: 250px;
}

.swap.hard {
    width: calc(100% - 250px)
}

/*setup screen*/
.container {
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: visible;
}

.next {
    width: 100%;
    height: 100%;
    text-align: center;
}

.continue {
    position: absolute;
    inset: 0;
    width: 200px;
    height: 60px;
    font-size: 2.2rem;
}

.harbor {
    display: block;
    position: absolute; 
    width: 100%;
    text-align: center;
}

.harbor.top {
    bottom: 0;
}

.harbor.bottom {
    top: 0;
}

.ship {
    margin: 10px;
    z-index: 25;
}

.shipPart {
    aspect-ratio: 1/1;
    height: calc(45vh / 10);
    cursor: pointer;
}

.rotate {
    position: absolute;
    bottom: 5px;
    right: 20px;
    aspect-ratio: 1;
    height: 30px;
    border-radius: 100px;
    border: 1px solid var(--darker-blue);
    background-color: var(--dark-blue);
}

.infoWrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}

.infoWrapper.top {
    top: 0;
}

.infoWrapper.bottom {
    bottom: 0;
}

.instructions {
    position: relative;
}

.instructions > p {
    display: inline-block;
    font-size: 3rem;
    width: calc(100% - 40px);
    margin-right:40px;
    padding-top: 5px;
}

.instructions > button {
    position: absolute;
    top: 15px;
    right: 10px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    aspect-ratio: 1;
    height: 35px;
    border-radius: 100px;
    margin-left: 20px;
    cursor: help;
}

.info {
    background: white;
    color: var(--dark-blue);
    font-size: 1rem;
}

.info > p {
    margin-top: 3px;
    margin-bottom: 3px;
}

/*gameboard*/
.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    aspect-ratio: 1/1;
    height: 45vh;
    position: absolute;
    inset: 0;
    border: 1px solid rgb(192, 192, 192);
}

.cell {
    background-color: white;
    aspect-ratio: 1/1;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

/*end screen*/
.winLose {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    inset: 0;
    width: 100%;
    text-align: center;
    align-items:center;
    justify-content:center;
    z-index: 10;
}

.winLose.top {
    transform: rotate(180deg);
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    width: 200px;
    height: 60px;
    font-size: 3rem;
    margin: auto;
    z-index: 20;
}

.gameInfo {
    position: absolute;
    bottom: -17.5px;
    left: calc(50vw - 38px);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    aspect-ratio: 1;
    height: 35px;
    border-radius: 100px;
    margin-left: 20px;
    z-index: 10;
    cursor: help;
}

.moreGameInfo {
    position: absolute;
    inset: 0;
    background: white;
    color: var(--dark-blue);
    font-size: 1rem;
    text-align: center;
    z-index: 12;
    height: fit-content;
    margin: auto;
}

.moreGameInfo > p {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

.background {
    position: absolute;
    inset: 0;
    height: 150vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 11;
}